.formulaire {
  text-align: center;

  margin-top: 40px;

  display: inline-block;
}

h1 {
  text-align: center;
  padding: 25px;
}

.card {
  min-width: 333px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 15px;
  height: 300px;
}

.card_id {

  margin-top: 100px;
  margin-left: 120px;

}

.media {
  height: 200px;
}

.actions {
  display: inline-block;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
}

.expandOpen {
  transform: rotate(180deg);
  transition: 'transform';
}

avatar {
  color: yellow;
}

.image {
  height: 200px;
  width: 270px;
  margin-left: 30px;
  padding-top: '56.25%';
}

.deletecontainer {
  min-width: 333px;
  display: inline-block;
  margin-top: 250px;
  margin-right: 10px;
  margin-left: 515px;
  height: 90px;
  border: aqua;
  border-radius: 20%;
}

.addbutton {
  margin-top: 80px;
  margin-left: 20px;

}

.container1 {
  padding-left: 5px;
  display: inline-block;
  margin-top: 40px;

}

.premiereconnexiontitle {
  margin-right: 140px;
}

.container2 {
  padding-left: 100px;
  margin-top: 20px;

}

.containerprincipal {
  text-align: center;

}

.cardblog {

  display: inline-block;
  margin-top: 50px;

}

.cardprofilerecipe {
  display: inline;
  margin-top: 50px;
}

.player {

  margin-top: 390px;

}

.playercard {
  display: inline-flex;
  margin-top: 120px;
  margin-left: 70px;
}

.buttonformulaire {
  margin-left: 1300px;
  margin-top: 20px;
}

.img_recette {
  height: 10px;
}

.appbar {
  height: 59px;
}

.img-icon {
  margin-top: 14px;
  margin-right: 60px;
  display: inline-flex;
}

.completeprofile {
  margin-top: 70px;
  margin-left: 30px;
}

.cancelbutton {

  margin-top: 50px;
  margin-left: 1000px;
}

.block {
  margin-left: 700px;
  margin-bottom: 0;
}

.block2 {
  margin-left: 0;
}

.block2 {

  display: inline-block;

}

h3 {
  margin-left: 30px;

}

.registerbutton {
  margin-left: 100px;
  margin-top: 50px;
  display: inline-flex;
}

.containerlogin {
  margin-left: 300px;
  margin-top: 140px;
}

.containerregister {
  margin-top: 140px;
  margin-left: 0;
}

.button {

  padding: 60px;
  display: inline-flex;
}

.connection {
  margin-right: 200px;
}

.post-details {
  margin-top: 22px;
  border-bottom: 1px solid #D9D9D9;
  overflow: hidden;
  display: flex;

}
